<%- include ("./partials/_header") %>



<div class="container">
  <a href ="/newPost"><button type="button" class="btn btn-primary">Create New Post</button></a>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      
      <div class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">Febrero 02, 2023 by <a href="#">Rodrigo</a>     </p>
        <p>Este espacio te permite crear blogs y publicarlos, ademas de poder editar su contenido mas tarde o eliminarlo.</p>
      </div>



    </div>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Post</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i <posts.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td>><strong><%= posts[i].title %></strong></td>
          <td><%= posts[i].author %></td>
          <td><%= posts[i].post_date %></td>
          <td><%= posts[i].post_data %></td>
          <td>
            <a href="/delete/<%= posts[i]._id %>" class="btn btn-danger">Delete</a>
            <a href="/edit/<%= posts[i]._id %>" class="btn btn-info">Edit</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>




<%- include ("./partials/_footer") %>